.image {
    height: 40px;
    width: 40px;
}

.image:hover {
    cursor: pointer;
}

.currentVoice {
    padding: 10px;
}

/* commenting this out for now because it looks better without */
/* .voice-option {
    height: 90px;
    width: 60px;
} */